
<header>
  <nav style="background: red;"> <!-- Красный фон для элемента nav -->
    <ul>
      <!-- Отобразить элемент в строку; установить размер шрифта в 20px; применить шрифт без отсечек -->
      <li style="display: inline-block; font-size: 20px; font-family: sans-serif;">
        <a href="/" style="color: white;"><h1>Yatube</h1></a> <!-- Шрифт покрасить в белый; -->
      </li>
      <!-- Отобразить элемент в строку; установить размер шрифта в 20px; применить шрифт без отсечек -->
      <li style="display: inline-block; font-size: 20px; font-family: sans-serif;">
        <a href="about/">О сайте</a>
      </li>
    </ul>
  </nav>
</header>
